# Database
DB_HOST=db
DB_PORT=8888
DB_NAME=dogtracker
DB_USER=user
DB_PASSWORD=password

# Logs
LOG_LEVEL=INFO

# Boundaries for simulation
BOUNDARY_MIN_LAT=37.7740
BOUNDARY_MAX_LAT=37.7760
BOUNDARY_MIN_LON=-122.4205
BOUNDARY_MAX_LON=-122.4180

# DBT
DBT_INTERVAL_SECONDS=10